<template>
    <div>
        <div>Map Two</div>
        <router-link to="/">Map One</router-link>
        <gmaps-map class="map" :options="mapOptions">
            <gmaps-marker :options="markerOptions"/>
            <gmaps-info-window ref="b" v-if="infoWindowOptions" :options="infoWindowOptions">
                <p><strong>TEST</strong>... sample info window</p>
            </gmaps-info-window>
        </gmaps-map>
    </div>
</template>

<script>

    import {gmapsMap, gmapsMarker, gmapsInfoWindow} from 'x5-gmaps'

    export default {
        name: 'MapTwo',
        components: {gmapsMap, gmapsMarker, gmapsInfoWindow},
        data: () => ({
            preferredClass: {
                facilityCode: 'GA10',
                description: 'Testing',
                address: '1 Test Pkwy',
                city: 'DULUTH',
                state: 'GA',
                zip: '30022',
                message: 'Lorem ipsum dolor sit amet.',
                classTime: 'Friday, June 5 - Sunday, June 7'
            },
            mapOptions: {
                center: {lat: 33.985983, lng: -84.0992001},
                zoom: 15,
            },
            markerOptions: {
                position: {lat: 33.985983, lng: -84.0992001},
                title: 'Test',
                draggable: false
            },
            infoWindowOptions: {
                position: {lat: 33.986343, lng: -84.111846}
            }
        }),
        methods : {
            async reCenter() {
                this.mapOptions.center = {lat: 33.985983, lng: -84.0992001}
            },
            openOptionsWindow() {
                this.$refs.b.open()
            }
        },
    }
</script>

<style scoped>

    .map {
        height: 300px;
        width: 100%;
    }

    @media only screen and (max-height: 568px) {
        .map {
            height: 250px;
        }
    }

    .buttonholder > button {
        margin: 5px;
    }

</style>
